.currency-switcher {
  text-align: center;
  position: relative;
  min-width: 15rem;
}

.currency-switcher ul {
  background-color: var(--color-base-secondary);
  color: var(--color-base-primary);
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 1.6rem 0;
  opacity: 0;
  pointer-events: none;
}

currency-switcher[open] ul {
  opacity: 1;
  pointer-events: auto;
}

.currency-switcher li + li label {
  border-top: 1px solid red;
}

.currency-switcher label {
  display: inline-block;
  cursor: pointer;
  padding: 16px 0;
}

.currency-switcher input {
  display: none;
}
