{%- comment -%}Snippet{%- endcomment -%}

{{- 'predictive-search.css' | asset_url | stylesheet_tag -}}

<script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>

<predictive-search>
  <div class="predictive-search">
    <div class="predictive-search__controls">
      <div class="predictive-search__icon-search predictive-search__icon">
        {% render 'icon-search' %}
      </div><!-- /.predictive-search__icon-search -->

      <input type="search" placeholder="Search...">

      <div class="predictive-search__icon-close predictive-search__icon js-close">
        {% render 'icon-close' %}
      </div><!-- /.predictive-search__icon-close -->
    </div><!-- /.predictive-search__controls -->

    <div class="predictive-search__result"></div><!-- /.predictive-search__result -->
  </div><!-- /.predictive-search -->
</predictive-search>
