<div
    class="product-recommendations"
    data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=10"
  >
    {%- if recommendations.performed and recommendations.products_count > 0 -%}
      <h2 class="section__title">
        You might also like
      </h2><!-- /.section__title -->
  
      <div class="slider slider--products js-slider-products">
        <div class="slider__clip">
          <div class="slider__slides slick-slider-products products">
              {%- for product in recommendations.products -%}
                <div class="slider__slide products__item">
                 {% render 'product-card' product: product %}
                </div><!-- /.slider__slide -->
              {%- endfor -%}
          </div><!-- /.slider__slides -->
        </div><!-- /.slider__clip -->

        <div class="slider__actions">
          <a href="#" class="slider__prev">Previous</a>

          <a href="#" class="slider__next">Next</a>
        </div><!-- /.slider__actions -->
      </div><!-- /.slider js-slider -->
    {%- endif -%}
  </div>
