<div class="announcement-bar">
  {% for i in (1..6) %}
    <div class="announcement__inner">
      {{ _text }}
    </div><!-- /.announcement__inner -->
  {% endfor %}
</div><!-- /.announcement-bar -->
